svg {
  display: block;
  margin: 0 auto;
  min-width: 80%;
  background: gray;
};

.svg-container{
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive{
  display: inline-block;
  position: relative;
  top: 10px;
  left: 0;
}

.bar{
  fill: #f3d83a
}

.axis text {
  font: 50px;
}
