.icon-menu{
  float: right;
  clear: both;
  font-size: 2em;
}

.icon-menu .icon-home .icon-about{
  color: black;
}

#separate {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

#main p {
  padding-top: 5%;
}

#visual_page {
  text-align: center;
  margin: 0 auto;
}

#visual_page p {
  text-align: left;
}

#data h1 {
  text-align: center;
}

.menuSelect{
  background-color: #f3d83a;
  /*position: relative;*/
  display: none;
}
